# 依存関係
node_modules/
.pnp/
.pnp.js

# テスト
coverage/

# Next.js
.next/
out/

# 環境変数
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# デバッグ
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ローカル設定
.DS_Store
*.pem

# エディタ設定
.idea/
.vscode/
*.swp
*.swo

# ビルド出力
dist/
build/

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel
